.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/OpenCV-Beginner.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
__pycache__/ui_mainwindow.cpython-38.pyc
.idea/OpenCV_Raspberry_AI.iml
