<!-- 宣告我們要套用模板 -->
{% extends "base.html" %}

{% block title %}home html{% endblock %}

{% block main %}
  
  <!--jumbotron 宣告我們將放入超大屏幕！-->
  <div class="jumbotron">
    <h1>Bootstrap Tutorial</h1>
    <p>Bootstrap is the most popular HTML, CSS...</p>
  </div>

  <!--Bootstrap：Grid System-->
  <div class="container">
    <form action="/login" method="POST">
      <div class="form-group">
          <label for="exampleInputName">Name:</label>
          <input class="form-control" type="name" name="name">
      </div>
      <div class="form-group">
          <label for="exampleInputPassword1">Password:</label>
          <input class="form-control" type="password" name="password">
      </div>
      <div>
          <button class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>
{% endblock %}
