<!-- 宣告我們要套用模板 -->
{% extends "base.html" %}

{% block title %}home html{% endblock %}

{% block main %}
  
  <!--jumbotron 宣告我們將放入超大屏幕！-->
  <div class="jumbotron">
    <h1>這裡放置歡迎標題</h1>
    <p>這個網站在衝沙小？？？</p>
  </div>

  <!--Bootstrap：Grid System-->
  <div class="container">
    <div class="row desc">
      <div class="col">
        <h2><i class="fas fa-kiwi-bird"></i>  程式語言算什麼</h2>
          <p>c/c++, fortran, python, matlab</p>
      </div>
      <div class="col">
        <h2><i class="fas fa-smile-wink"></i>  前端一把罩</h2>
        <p>javascript, html, css</p>
      </div>
      <div class="col">
        <h2><i class="fas fa-leaf"></i>  你可能不知道的事</h2>
        <p>我有自律神經失調</p>
        <p>To do list: import WeatherData as wd</p>>
      </div>
    </div>
  </div>
{% endblock %}


{% block script %}
<script>
  alert("歡迎我的樹莓派架站");
</script>
{% endblock %}